### This notebook contains scripts for the cleansing of the [data merged](https://github.com/Semiu/DI-Capstone/blob/main/Proposal/1-data-cleaning-EDA/datamerging.ipynb) in the previous stage.

In [33]:
#Import the required libraries 

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [50]:
#Load the merged data into a dataframe
loandata = pd.read_csv(r"F:\Dataset\Lendingclub\LCloandata.csv", low_memory = False)

In [51]:
loandata

,loan_amnt,purpose,policy_code,fico_range_high,dti,emp_length,is_safe
0,1000.0,Wedding Covered but No Honeymoon,0.0,693.0,10%,4 years,0
1,1000.0,Consolidating Debt,0.0,703.0,10%,< 1 year,0
2,11000.0,Want to consolidate my debt,0.0,715.0,10%,1 year,0
3,6000.0,waksman,0.0,698.0,38.64%,< 1 year,0
4,1500.0,mdrigo,0.0,509.0,9.43%,< 1 year,0
...,...,...,...,...,...,...,...
2184192,525.0,NaN,2.0,NaN,NaN,NaN,1
2184193,2500.0,NaN,2.0,NaN,NaN,NaN,1
2184194,2160.0,NaN,2.0,NaN,NaN,NaN,1
2184195,16550.0,NaN,2.0,NaN,NaN,NaN,1
2184196,10976.0,NaN,2.0,NaN,NaN,NaN,1

In [96]:
#Checking for the missing values
loandata.isnull().sum()

loan_amnt          0
purpose            0
policy_code        0
fico_range_high    0
dti                0
emp_length         0
is_safe            0
dtype: int64

In [55]:
#Treating the mising values of categorical data is different from the numerical or ordinal, also the domain context

#policy_code - filled missing numbers 
loandata['policy_code'].fillna(0.0, inplace=True)

#purpose
loandata['purpose'].fillna("None", inplace=True)

#loan_amnt
loandata['loan_amnt'].fillna(loandata['loan_amnt'].mean(), inplace=True)

#fico_range_high
loandata['fico_range_high'].fillna(loandata['fico_range_high'].mean(), inplace=True)

In [56]:
#dti - replace missing values
loandata['dti'].fillna("0.0%", inplace=True)

In [57]:
#dti - to remove the %
loandata['dti'] = loandata['dti'].apply(lambda x: x.replace('%','')).apply(lambda x: x.strip()).astype(float)

In [58]:
#Get the classes of values in emp_length for class mapping
loandata['emp_length'].value_counts()

< 1 year     1497392
10+ years     186355
5 years        75252
2 years        66513
3 years        56041
1 year         55849
4 years        42563
6 years        36975
7 years        32934
8 years        27894
9 years        22079
Name: emp_length, dtype: int64

In [65]:
#Class mapping for loandata['emp_length']
class_mapping = {'< 1 year': 1, '1 year': 2, '2 years': 3, '3 years': 4, '4 years': 5,'5 years': 6, '6 years': 7, '7 years': 8, '8 years': 9, '9 years': 10, '10+ years': 11}
loandata['emp_length'] = loandata['emp_length'].map(class_mapping)

In [ ]:
#Treat the mising values 
loandata['emp_length'].fillna(0, inplace=True)

In [69]:
#Check
loandata['emp_length']

0          5.0
1          1.0
2          2.0
3          1.0
4          1.0
          ...
2184192    0.0
2184193    0.0
2184194    0.0
2184195    0.0
2184196    0.0
Name: emp_length, Length: 2184197, dtype: float64

In [89]:
#Search for certain key words in each of the record for loandata['purpose'] to be replaced with a Key word
for index, purpose in enumerate(loandata['purpose']):
    if bool(re.search('debt', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Debt'
    elif bool(re.search('wedding', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Wedding'
    elif bool(re.search('credit', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Credit Card'
    elif bool(re.search('Car', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Car'
    elif bool(re.search('home', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Home'
    elif bool(re.search('duplex', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Home'
    elif bool(re.search('school', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Education'
    elif bool(re.search('study', purpose, re.IGNORECASE)):
        loandata['purpose'][index] = 'Education'
    else:
        loandata['purpose'][index] = 'Other'

C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Semiu\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [91]:
#Class mapping for loandata['purpose']
class_mapping_2 = {'Debt': 1, 'Credit Card': 2, 'Wedding': 3, 'Car': 4, 'Home': 5,'Education': 6, 'Other': 7}
loandata['purpose'] = loandata['purpose'].map(class_mapping_2)

In [97]:
loandata

,loan_amnt,purpose,policy_code,fico_range_high,dti,emp_length,is_safe
0,1000.0,3,0.0,693.000000,10.00,5.0,0
1,1000.0,1,0.0,703.000000,10.00,1.0,0
2,11000.0,1,0.0,715.000000,10.00,2.0,0
3,6000.0,7,0.0,698.000000,38.64,1.0,0
4,1500.0,7,0.0,509.000000,9.43,1.0,0
...,...,...,...,...,...,...,...
2184192,525.0,7,2.0,607.972609,0.00,0.0,1
2184193,2500.0,7,2.0,607.972609,0.00,0.0,1
2184194,2160.0,7,2.0,607.972609,0.00,0.0,1
2184195,16550.0,7,2.0,607.972609,0.00,0.0,1
2184196,10976.0,7,2.0,607.972609,0.00,0.0,1

In [98]:
#Load the cleansed data into a new CSV file
loandata.to_csv(r"F:\Dataset\Lendingclub\treatedLCloandata.csv", encoding='utf-8', index=None)