### This notebook contains scripts for the merging of dataset used for this project.

The dataset, released by Lending Club, can be downloaded from [here.](http://web.archive.org/web/20140706042617/https://www.lendingclub.com/info/download-data.action)

The dataset was categorised into Issued Loan data and Declined Loan data. The former contains three CSV files for all the loans issued during 2007 - 2011, 2012 - 2013, and 2014 to 3/31/2014, respectively. 

The latter contains two CSV files for all the declined loans during 2007 - 2011 and 2013 - 3/31/2014, respectively.

In [1]:
#Import the required libraries 

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Read each of the issued and declined loan data

#The loan issued in 2007 - 2011
issued2011loan = pd.read_csv(r"F:\Dataset\Lendingclub\LoanStats3a.csv", low_memory = False)

#The loan issued in 2012 - 2013
issued2013loan = pd.read_csv(r"F:\Dataset\Lendingclub\LoanStats3b.csv", low_memory = False)

#The loan issued in 2014
issued2014loan = pd.read_csv(r"F:\Dataset\Lendingclub\LoanStats3c.csv", low_memory = False)

#The loan declined in 2012
declined2012loan = pd.read_csv(r"F:\Dataset\Lendingclub\RejectStatsA.csv", low_memory = False)

#The loan declined in 2014
declined2014loan = pd.read_csv(r"F:\Dataset\Lendingclub\RejectStatsB.csv", low_memory = False)

In [3]:
#check the first five rows of the issued2011loan data
issued2011loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_il_tl,mo_sin_old_il_acct,num_actv_rev_tl,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,total_rev_hi_lim,num_rev_tl_bal_gt_0,num_op_rev_tl,tot_coll_amt,policy_code
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [22]:
#Check the number of records
issued2011loan.shape

(42538, 96)

In [16]:
#check the first five rows of the issued2013loan data
issued2013loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_il_tl,mo_sin_old_il_acct,num_actv_rev_tl,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,total_rev_hi_lim,num_rev_tl_bal_gt_0,num_op_rev_tl,tot_coll_amt,policy_code
0,10149526,12001069.0,27600,27600,27600.0,60 months,19.97%,730.78,D,D5,...,4.0,173.0,7.0,294.0,4.0,32600.0,7.0,7.0,0.0,1
1,10129454,11981072.0,12000,12000,12000.0,36 months,10.99%,392.81,B,B2,...,0.0,NaN,7.0,48.0,1.0,29700.0,7.0,15.0,0.0,1
2,10149577,12001118.0,28000,28000,28000.0,36 months,7.62%,872.52,A,A3,...,11.0,125.0,5.0,229.0,5.0,54200.0,5.0,9.0,0.0,1
3,10148122,11999781.0,12000,12000,12000.0,36 months,7.62%,373.94,A,A3,...,15.0,123.0,5.0,118.0,10.0,23800.0,5.0,8.0,0.0,1
4,10149488,12001033.0,4800,4800,4800.0,36 months,10.99%,157.13,B,B2,...,1.0,104.0,2.0,220.0,25.0,25700.0,2.0,3.0,0.0,1

In [23]:
#Check the number of records
issued2013loan.shape

(197787, 96)

In [17]:
#check the first five rows of the issued2014loan data
issued2014loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_il_tl,mo_sin_old_il_acct,num_actv_rev_tl,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,total_rev_hi_lim,num_rev_tl_bal_gt_0,num_op_rev_tl,tot_coll_amt,policy_code
0,20159237,22421876.0,10000.0,10000.0,10000.0,36 months,22.15%,382.69,E,E5,...,1.0,11.0,7.0,97.0,3.0,24100.0,7.0,7.0,0.0,1
1,20138199,22400842.0,7000.0,7000.0,7000.0,36 months,12.49%,234.15,B,B5,...,12.0,181.0,5.0,215.0,3.0,22900.0,5.0,12.0,0.0,1
2,20088512,22351142.0,1400.0,1400.0,1400.0,36 months,18.24%,50.79,D,D5,...,11.0,117.0,1.0,116.0,56.0,4600.0,1.0,3.0,0.0,1
3,20158360,22421039.0,18000.0,18000.0,18000.0,60 months,16.29%,440.51,D,D2,...,7.0,81.0,5.0,112.0,18.0,17400.0,5.0,10.0,0.0,1
4,20127968,22390638.0,12000.0,12000.0,12000.0,36 months,12.99%,404.27,C,C1,...,6.0,152.0,13.0,265.0,1.0,39000.0,13.0,15.0,0.0,1

In [24]:
#Check the number of records
issued2014loan.shape

(138735, 96)

In [20]:
#check the first five rows of the declined2012loan data
declined2012loan.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,City,State,Employment Length,Policy Code
0,1000.0,5/26/2007,Wedding Covered but No Honeymoon,693.0,10%,Taylor,NM,4 years,0
1,1000.0,5/26/2007,Consolidating Debt,703.0,10%,Amherst,MA,< 1 year,0
2,11000.0,5/27/2007,Want to consolidate my debt,715.0,10%,Baltimore,MD,1 year,0
3,6000.0,5/27/2007,waksman,698.0,38.64%,Concord,MA,< 1 year,0
4,1500.0,5/27/2007,mdrigo,509.0,9.43%,Silver SPRING,MD,< 1 year,0

In [21]:
#check the first five rows of the declined2012loan data
declined2014loan.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,City,State,Employment Length,Policy Code
0,30000,1/1/2013,debt_consolidation,754.0,32.01%,Lyle,MN,< 1 year,0
1,15000,1/1/2013,medical,728.0,27.01%,hayward,CA,< 1 year,0
2,2500,1/1/2013,other,723.0,0.92%,RIDLEY PARK,PA,7 years,0
3,4000,1/1/2013,car,563.0,24.92%,Greenwood,SC,< 1 year,0
4,22000,1/1/2013,debt_consolidation,0.0,26.91%,grandfield,OK,< 1 year,0

In [4]:
#Join the issued loan data
issuedloandata = pd.concat([issued2011loan,issued2013loan,issued2014loan])

In [27]:
#Check the number of rows in the joined data
issuedloandata.shape

(379060, 96)

In [28]:
#Check the first five rows 
issuedloandata.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_il_tl,mo_sin_old_il_acct,num_actv_rev_tl,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,total_rev_hi_lim,num_rev_tl_bal_gt_0,num_op_rev_tl,tot_coll_amt,policy_code
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [29]:
#Check if the sum of the number of rows in in the individual frames equals to the number of rows in the concantenated frame
row = 42538 + 197787 + 138735
row == 379060

True

In [5]:
#Join the rejected loan data
declinedloandata = pd.concat([declined2012loan,declined2014loan])

In [32]:
declinedloandata.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,City,State,Employment Length,Policy Code
0,1000.0,5/26/2007,Wedding Covered but No Honeymoon,693.0,10%,Taylor,NM,4 years,0
1,1000.0,5/26/2007,Consolidating Debt,703.0,10%,Amherst,MA,< 1 year,0
2,11000.0,5/27/2007,Want to consolidate my debt,715.0,10%,Baltimore,MD,1 year,0
3,6000.0,5/27/2007,waksman,698.0,38.64%,Concord,MA,< 1 year,0
4,1500.0,5/27/2007,mdrigo,509.0,9.43%,Silver SPRING,MD,< 1 year,0

In [33]:
declinedloandata.shape

(1805137, 9)

In [37]:
declinedloandata.isnull().sum()

Amount Requested            0
Application Date            0
Loan Title                 14
Risk_Score              62617
Debt-To-Income Ratio        0
City                       22
State                      20
Employment Length       24143
Policy Code                 0
dtype: int64

#### Merging the `declinedloandata` and the `issuedloandata`

Features in the `declinedloandata` are compared to those in `issuedloandata`, and it's realized that these pairs mean the same thing:

Amount Requested (in declined loan) and loan_amnt (in issued loan),

Loan Title(in declined loan) and purpose (in issued loan),

Policy Code(in declined loan) and policy_code (in issued loan),

fico_range_high (in issued loan) and Risk_Score (in declined loan),

dti (in issued loan) and Debt-To-Income Ratio (in declined loan), and

emp_length (in issued loan) and Employment Length (in declined loan)

In [6]:
#For these features to have the same column names in both data, a rename is done on the declined data.
declinedloandata['loan_amnt'] = declinedloandata['Amount Requested']
declinedloandata['purpose'] = declinedloandata['Loan Title']
declinedloandata['policy_code'] = declinedloandata['Policy Code']
declinedloandata['fico_range_high'] = declinedloandata['Risk_Score']
declinedloandata['dti'] = declinedloandata['Debt-To-Income Ratio']
declinedloandata['emp_length'] = declinedloandata['Employment Length']

In [7]:
#The six columns are the columns to be retained for the ML modeling. Therefore, other columns will be dropped in the declinedloandata.

useless_cols_dec = [cols for cols in declinedloandata.columns if cols not in ('loan_amnt', 'purpose', 'policy_code', 'fico_range_high', 'dti', 'emp_length')]
for useless_col_d in useless_cols_dec:
    declinedloandata.drop(useless_col_d, axis =1,inplace=True)

In [8]:
#Other columns will be dropped the issuedloandata.
useless_cols_iss = [cols for cols in issuedloandata.columns if cols not in ('loan_amnt', 'purpose', 'policy_code', 'fico_range_high', 'dti', 'emp_length')]
for useless_col_i in useless_cols_iss:
    issuedloandata.drop(useless_col_i, axis =1, inplace=True)

In [9]:
issuedloandata

        loan_amnt emp_length         purpose    dti  policy_code
0          5000.0  10+ years     credit_card  27.65          1.0
1          2500.0   < 1 year             car   1.00          1.0
2          2400.0  10+ years  small_business   8.72          1.0
3         10000.0  10+ years           other  20.00          1.0
4          3000.0     1 year           other  17.94          1.0
...           ...        ...             ...    ...          ...
138730      525.0        NaN             NaN    NaN          2.0
138731     2500.0        NaN             NaN    NaN          2.0
138732     2160.0        NaN             NaN    NaN          2.0
138733    16550.0        NaN             NaN    NaN          2.0
138734    10976.0        NaN             NaN    NaN          2.0

[379060 rows x 5 columns]

In [10]:
declinedloandata

,loan_amnt,purpose,policy_code,fico_range_high,dti,emp_length
0,1000.0,Wedding Covered but No Honeymoon,0,693.0,10%,4 years
1,1000.0,Consolidating Debt,0,703.0,10%,< 1 year
2,11000.0,Want to consolidate my debt,0,715.0,10%,1 year
3,6000.0,waksman,0,698.0,38.64%,< 1 year
4,1500.0,mdrigo,0,509.0,9.43%,< 1 year
...,...,...,...,...,...,...
1048569,20000.0,other,0,614.0,9.81%,< 1 year
1048570,2500.0,other,0,572.0,13.64%,< 1 year
1048571,15000.0,debt_consolidation,0,597.0,97.77%,< 1 year
1048572,35000.0,debt_consolidation,0,604.0,21.64%,< 1 year
1048573,1500.0,moving,0,562.0,42%,< 1 year

In [58]:
#Create the class column and populate all rows with a value
#I prefer the name is_safe, so I decided to drop the isSafe I earlier did
declinedloandata.drop('isSafe', axis =1,inplace=True)
issuedloandata.drop('isSafe', axis =1,inplace=True)
declinedloandata['is_safe'] = 0
issuedloandata['is_safe'] = 1

In [61]:
#Join the declined and issued loan data to form a single dataframe
loandata = pd.concat([declinedloandata,issuedloandata])

In [62]:
loandata

,loan_amnt,purpose,policy_code,fico_range_high,dti,emp_length,is_safe
0,1000.0,Wedding Covered but No Honeymoon,0.0,693.0,10%,4 years,0
1,1000.0,Consolidating Debt,0.0,703.0,10%,< 1 year,0
2,11000.0,Want to consolidate my debt,0.0,715.0,10%,1 year,0
3,6000.0,waksman,0.0,698.0,38.64%,< 1 year,0
4,1500.0,mdrigo,0.0,509.0,9.43%,< 1 year,0
...,...,...,...,...,...,...,...
138730,525.0,NaN,2.0,NaN,NaN,NaN,1
138731,2500.0,NaN,2.0,NaN,NaN,NaN,1
138732,2160.0,NaN,2.0,NaN,NaN,NaN,1
138733,16550.0,NaN,2.0,NaN,NaN,NaN,1
138734,10976.0,NaN,2.0,NaN,NaN,NaN,1

In [67]:
#Save the loan data for data cleansing and EDA stages
loandata.to_csv(r"F:\Dataset\Lendingclub\LCloandata.csv", encoding='utf-8', index=None)